html
    height: 100%
    background: url(/images/img-noise-361x370-light.png)
body
    max-width: 800px
    margin-top: 0
    margin-bottom: 0
    margin-left: auto
    margin-right: auto
    height: 100%
    font-family: sans-serif
.logoutText
    font-size: smaller
.menubar
    border:1px solid darkgrey
    padding:5px
    overflow:hidden
    background: white
.menubar>span
    padding: 5px
    display: inline-block
    *float: left
.username
    float: right
.container
    clear: both
.board
    margin-left: auto
    margin-right: auto
    border-collapse: collapse
.board td
    text-align: center
.board td.weekend
    color: darkred
    background-color: lightgrey
.user-settings-title
.login-title
.board-name
.boardlist-title
    text-align: center
    font-size: x-large
    margin: 5px
    padding: 10px
    color: white
    text-shadow: 2px 2px 4px black
.reportedFeeling
    width: 50px
    height: 50px
    border-radius: 20px
    border: solid 1px dimgrey
    margin: 1px
.reportedFeeling.active
    cursor: pointer
    border: solid 2px black
.none
    background: initial
.ok
    background: white url(/images/thumbup.png) 0px 0px/50px 50px
.good
    background: white url(/images/hornshand.png) 0px 0px/50px 50px
.bad
    background: white url(/images/thumbdown.png) 0px 0px/50px 50px
table.board thead tr :nth-child(2)
    color: rgba(0, 0, 0, 1);
table.board thead tr :nth-child(3)
    color: rgba(0, 0, 0, .875);
table.board thead tr :nth-child(4)
    color: rgba(0, 0, 0, .750);
table.board thead tr :nth-child(5)
    color: rgba(0, 0, 0, .625);
table.board thead tr :nth-child(6)
    color: rgba(0, 0, 0, .500);
table.board thead tr :nth-child(7)
    color: rgba(0, 0, 0, .375);
table.board thead tr :nth-child(8)
    color: rgba(0, 0, 0, .250);
table.board thead tr :nth-child(9)
    color: rgba(0, 0, 0, .125);
tr.boardRowView :nth-child(2) div
    opacity: 1
tr.boardRowView :nth-child(3) div
  opacity: .875
tr.boardRowView :nth-child(4) div
  opacity: .750
tr.boardRowView :nth-child(5) div
  opacity: .625
tr.boardRowView :nth-child(6) div
  opacity: .500
tr.boardRowView :nth-child(7) div
  opacity: .375
tr.boardRowView :nth-child(8) div
  opacity: .250
tr.boardRowView :nth-child(9) div
  opacity: .125
ul.boardsList
  list-style-type: none
  margin: 0
  padding: 0
li.boardListRow a
  border: solid 1px dimgrey
  display: block
  width: 90%
  margin: 5px
  margin-left: auto
  margin-right: auto
  padding: 20px
  text-decoration: none
  font-size: larger
  font-weight: bold
  text-align: center
li.boardListRow a:visited
li.boardListRow a:active
li.boardListRow a:link
li.boardListRow a:hover
  color: black
li.boardListRow a:hover
  background-color: white
form label
    font-family: sans-serif
    display: block
    width: 66%
    text-align: right
.form-input
    display: inline
    margin-left: 5px
