body
    background: lightgrey

.reportedFeeling
    width: 50px
    height: 50px
    border-radius: 25px
    border: solid 1px black
    margin: 1px
    cursor: pointer
.none
    background: initial
.ok
    background: url(/images/thumbup.png) 0px 0px/50px 50px
.good
    background: url(/images/hornshand.png) 0px 0px/50px 50px
.bad
    background: url(/images/thumbdown.png) 0px 0px/50px 50px
