html
    height: 100%
    background: black
body
    background: lightgrey
    max-width: 800px
    margin-top: 0
    margin-bottom: 0
    margin-left: auto
    margin-right: auto
    height: 100%
    font-family: sans-serif
.logoutText
    font-size: smaller
.menubar
    border:1px solid #aaa;
    padding:5px;
    overflow:hidden;
    background: white
.menubar>span
    padding: 5px
    display: inline-block
    *float: left
.username
    float: right
.container
    clear: both
.board
    margin-left: auto
    margin-right: auto
.board-name
    text-align: center
    font-size: x-large
    margin: 5px
.reportedFeeling
    width: 50px
    height: 50px
    border-radius: 25px
    border: solid 1px #666
    margin: 1px
    cursor: pointer
.none
    background: initial
.ok
    background: url(/images/thumbup.png) 0px 0px/50px 50px
.good
    background: url(/images/hornshand.png) 0px 0px/50px 50px
.bad
    background: url(/images/thumbdown.png) 0px 0px/50px 50px
tr.boardRowView :nth-child(2) div
    opacity: 1
tr.boardRowView :nth-child(3) div
  opacity: .875
tr.boardRowView :nth-child(4) div
  opacity: .750
tr.boardRowView :nth-child(5) div
  opacity: .625
tr.boardRowView :nth-child(6) div
  opacity: .500
tr.boardRowView :nth-child(7) div
  opacity: .375
tr.boardRowView :nth-child(8) div
  opacity: .250
tr.boardRowView :nth-child(9) div
  opacity: .125
