section.page.board
    .board-name(data-hook='board-name')
    table(border)
      tr
        td -
        td M
        td T
        td W
        td T
        td F
    table.board-view(data-hook='board-view',border)
    p(data-hook='singleReportedFeeling')
