section.page.login
    .login-title Login
    .forgotpasswordlink(style="text-align: center")
        a(href="/forgotpassword") Click here if you forgot your password
    form(data-hook="login-form")
