body
  .menubar
    span.menuitem
      a(href="/") Home
    span.username
      a(data-hook="logged-in-user")
        span(data-hook="logged-in-user-name")
      span &thinsp;
      span.logoutText
        | (
        a(href="javascript:void(0)" data-hook="action-logout") Logout
        | )
  .message-box
  .container
    main(data-hook="page-container")
